// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2019 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@st.com> for STMicroelectronics.
 */

/dts-v1/;

#include "stm32mp157.dtsi"
#include "stm32mp15xc.dtsi"
#include "stm32mp15-pinctrl.dtsi"
#include "stm32mp15xxac-pinctrl.dtsi"
//
#include "stm32mp15xx-videodev.dtsi"

/ {
	model = "Video Board";
	compatible = "st,stm32mp157c-dk2", "st,stm32mp157";

	aliases {
		serial0 = &uart4;
		serial1 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	led {
		compatible = "gpio-leds";
		led-hl1 {
			label = "hl1";
			gpios = <&gpioa 13 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};

	led {
		compatible = "gpio-leds";
		led-hl2 {
			label = "hl2";
			gpios = <&gpiod 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};
};

&cryp1 {
	status = "okay";
};

&i2c4 {
//	status = "okay";

	touchscreen: touchscreen@20 {
		compatible = "synaptics,synaptics_i2c";
		reg = <0x20>;
		interrupts-extended = <&gpioa 10 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&gpioa>;
		interrupt-controller;

		reset-gpios = <&gpiog 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

		touchscreen-size-x = <1280>;
		touchscreen-size-y = <768>;
		status = "okay";
	};

	dsi_bridge: dsi-bridge@e {
		compatible = "toshiba,tc358768";
		reg = <0x0e>;

//		clocks = <&tc358768_refclk>;
		clock-names = "refclk";

		reset-gpios = <&gpioa 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		enable-active-high;

		//+++
		te-gpios = <&gpioc 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		ctrl-gpios = <&gpiod 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		dreset-gpios = <&gpiod 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		pwr-gpios = <&gpiof 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;

		vddc-supply = <&v1v2_hdmi>;
		vddmipi-supply = <&v1v2_hdmi>;
		vddio-supply = <&v3v3_hdmi>;

		dsi_bridge_ports: ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@1 {
				reg = <1>;
				rgb_in: endpoint {
					remote-endpoint = <&ltdc_ep1_out>;
					data-lines = <24>;
				};
			};

//			port@1 {
//				reg = <1>;
//				dsi_out: endpoint {
//					remote-endpoint = <&lcd_in>;
//				};
//			};
		};
	};
};

&ltdc {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&ltdc_pins_a>;
	pinctrl-1 = <&ltdc_sleep_pins_a>;

	status = "okay";

	port {
		ltdc_ep1_out: endpoint@1 {
			reg = <1>;

			//fen-D
			remote-endpoint = <&rgb_in>;
		};
	};
};

//12345678


