// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2019 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@st.com> for STMicroelectronics.
 */

/dts-v1/;

#include "stm32mp157.dtsi"
#include "stm32mp15xc.dtsi"
#include "stm32mp15xxac-pinctrl.dtsi"
//
#include "stm32mp15xx-videodev-pinctrl.dtsi"
#include "stm32mp15xx-videodev.dtsi"

/ {
	model = "Video Board";
	compatible = "st,stm32mp157c-dk2", "st,stm32mp157";

	aliases {
		serial0 = &uart4;
		serial1 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&cryp1 {
	status = "okay";
};

&i2c4 {
//	status = "okay";

	touchscreen: touchscreen@20 {
		compatible = "synaptics,synaptics_i2c";
		reg = <0x20>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-parent = <&gpioa>;
		interrupt-controller;
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <768>;
		status = "okay";
	};

	dsi_bridge: dsi-bridge@e {
		compatible = "toshiba,tc358768";
		reg = <0xe>;

//		clocks = <&tc358768_refclk>;
//		clock-names = "refclk";

//		reset-gpios = <&pcf_display_board 0 GPIO_ACTIVE_LOW>;

		vddc-supply = <&v1v2_hdmi>;
		vddmipi-supply = <&v1v2_hdmi>;
		vddio-supply = <&v3v3_hdmi>;

		dsi_bridge_ports: ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@1 {
				reg = <1>;
				rgb_in: endpoint {
					remote-endpoint = <&ltdc>;
					data-lines = <24>;
				};
			};

//			port@1 {
//				reg = <1>;
//				dsi_out: endpoint {
//					remote-endpoint = <&lcd_in>;
//				};
//			};
		};
	};
};

&ltdc {
	status = "okay";

	port {
		ltdc_ep0_out: endpoint@0 {
			reg = <1>;
//			remote-endpoint = <&dsi_in>;
		};
	};
};

&usart2 {
	pinctrl-names = "default", "sleep", "idle";
	pinctrl-0 = <&usart2_pins_d>;
	pinctrl-1 = <&usart2_sleep_pins_d>;
	pinctrl-2 = <&usart2_idle_pins_d>;
	status = "disabled";
};

//1234567

