// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2019 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@st.com> for STMicroelectronics.
 */

/dts-v1/;

#include "stm32mp157.dtsi"
#include "stm32mp15xc.dtsi"
#include "stm32mp15-pinctrl.dtsi"
#include "stm32mp15xxac-pinctrl.dtsi"
#include "stm32mp15xx-dkx.dtsi"

/ {
	model = "Video Board";
	compatible = "st,stm32mp157c-dk2", "st,stm32mp157";

	aliases {
		//fen+
		serial0 = &uart4;
		//fen+
		serial1 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&cryp1 {
	status = "okay";
};

&i2c2 {
	touchscreen@20 {
		compatible = "synaptics";
		reg = <0x20>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-parent = <&gpioa>;
		interrupt-controller;
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <768>;
		status = "okay";
	};
};

&ltdc {
	status = "disabled";

	port {
		ltdc_ep0_out: endpoint@0 {
			reg = <1>;
//			remote-endpoint = <&dsi_in>;
		};
	};
};

&usart2 {
	pinctrl-names = "default", "sleep", "idle";
	pinctrl-0 = <&usart2_pins_c>;
	pinctrl-1 = <&usart2_sleep_pins_c>;
	pinctrl-2 = <&usart2_idle_pins_c>;
	status = "disabled";
};

//12345
